

* {
    --bgc: #f0f0f0;
    --color: #0f0f0f;
    --sub: #686868;
    --rarity1: #e9d631;
}

body {
    background-color: var(--bgc);
    color: var(--color);
    font-family: 'Pretendard', sans-serif;
    display: block;
    text-align: center;
    overflow: hidden;
    overflow-x:hidden;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 4rem;
    margin: 200px 0 50px 0;
    text-align: center;
    white-space: nowrap;
}

.btn {

    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 3px;
    color: var(--color);
    background-color: var(--bgc);
    margin: 1rem;
    transition-property: color, background-color, box-shadow, opacity, transform;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 1s;
    border: none;
    box-shadow: 0 0 30px 20px #0f0f0f0a;
    white-space: nowrap;
    &:hover {
      background-color: grey;
      color: white;
      box-shadow: 0 0 0 0 gray;
    }
}

#result {
    visibility: hidden;
    transition-duration: 0.6s;
}

#rerollbtn {

}

.result-title {
    transition-duration: 0.3s;
    font-size: 2rem;
    margin: 50px 0 50px 0;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
}

.result-rarity {
    opacity: 0;
    transition: font-size, filter;
    transition-duration: 0.3s;
    font-size: 3rem;
    margin: 50px 0 50px 0;
    text-align: center;
    white-space: nowrap;
    filter: drop-shadow(0 0 0 0);
}

.gold {
    color: var(--rarity1);
    filter: drop-shadow(0 0 15px var(--rarity1));
}

.capsule {
    margin-top: 200px;
    white-space:initial;
}

.capsule_upper {
    transition-duration: 0.3s;
    transform: rotateZ(0deg);
    transform-origin: 100% 100%;
}

#inspection {
    visibility: hidden;
    overflow: scroll;
    
}

#inventory {
    margin-top: 50px;
}

@media (max-width: 767px) {
  .title {
    font-size: 3rem;
  }

  .result-title {
    font-size: 3rem;
  }

  .capsule {
    margin-top: 100px;
  }
}

